



/* Sidebar */
.col-md-7 {
    padding: 0;
}

.card-header {
    background: lightseagreen !important;
}

.sidebar img {
    height: 170px;
    width: 130px;
    margin-bottom: 5px;
}

.sidebar p {
    font-size: 20px;
    margin-left: 10px;
}

.sidebar a {
    font-size: 15px;
    text-decoration: none;
}

.sidebar a:hover {
    color: green;
}

.sidebar:hover{
    color: green;
    font-size: 18px;
    font-weight: bold;
    background-color: lightyellow;
}

.main-book {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.main-book img {
    width: 100%;
    height: 430px;
}

.btn-read-book {
    display: block;
    margin: 0 auto;
}

.btn-product {
    margin: auto;
}

.same-category-book {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

.same-category-book img {
    width: 100%;
    height: 300px;
}

.pdf-book {
    height: 900px;
}

#noidung_sach {
    height: 500px;
}



/* Đọc chương truyện */
.noidungchuong {
    font-size: 20px;
}

/* Slide */
.slide-book {
    width: 100%;
    height: 460px;
    margin-right: 10px;
}

.slide-book:hover{
    background-color: #C7FFBA;
    color: #6E00B1;
}

.slide-book img {
    width: 80%;
    height: 350px;
}

.btn-slide {
    position:absolute;
    bottom: 5px;
    width: 35%;
    left: 0px;
    right: 0px;
    margin: 0px auto;
}


/* Footer */
.footer {
    background:#00A143 !important;
    font-size: 20px;
    color: white;
}