/* Admin */


.header-title {
    font-size: 25px;
}

.thead-title {
    font-size: 20px;
    text-align: center
}

.tr-content {
    font-size: 17px;  
}

.stt {
    text-align: center;
}

.btn-add-edit {
    display: block;
    margin: 0 auto;
    background: lightseagreen !important;
    border: lightseagreen !important;
    height: 50px;
}

.dropdown-Tung {
    width: 100%;
    height: 35px;
    color: #212529;
    background-color: #f8fafc;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
}

/* Admin */




.search-box {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
}

.btn-read-all {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
}

/* Sidebar */
.col-md-7 {
    padding: 0;
}

.card-header {
    background: lightseagreen !important;
}

.sidebarr img {
    height: 170px;
    width: 130px;
    margin-bottom: 5px;
}

.sidebarr p {
    font-size: 20px;
    margin-left: 10px;
}

.sidebarr a {
    font-size: 15px;
    text-decoration: none;
}

.sidebarr a:hover {
    color: green;
}

.sidebarr:hover{
    color: green;
    font-size: 18px;
    font-weight: bold;
    background-color: lightyellow;
}

.main-book {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.main-book img {
    width: 100%;
    height: 430px;
}

.main-book p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.btn-read-book {
    display: block;
    margin: 0 auto;
}

.btn-product {
    margin: auto;
}

.same-category-book {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

.same-category-book img {
    width: 100%;
    height: 300px;
}

.same-category-book p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.pdf-book {
    height: 900px;
}

#noidung_sach {
    height: 500px;
}



/* Đọc chương truyện */
.noidungchuong {
    font-size: 20px;
}

/* Slide */
.slide-book {
    width: 100%;
    height: 460px;
    margin-right: 10px;
}

.slide-book:hover{
    background-color: #C7FFBA;
    color: #6E00B1;
}

.slide-book img {
    width: 80%;
    height: 350px;
}

.btn-slide {
    position:absolute;
    bottom: 5px;
    width: 35%;
    left: 0px;
    right: 0px;
    margin: 0px auto;
}


/* Footer */
.footer {
    background:#00A143 !important;
    font-size: 20px;
    color: white !important;
    padding-top: 15px;
    height: 280px;
}

.icon-footer {
    margin: 0px 10px;
    font-size: 30px;
}

.uptotop {
    font-size: 50px;
    position: relative;
    bottom: 150px;
}

.content-layout-admin {
    padding-left: 250px;
}
